.section {
    margin: 20px,
}

input, label {
    display:block;
}

input {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 9px;
    border-radius: 8px;
    width: 80px;
    justify-content: center;
}

button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 10px;
    border-radius: 8px;
}

button:disabled {
    background-color: gray;
}